.post-list{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post-item{
  border: 1px solid #ff6200;
  border-radius: 15px;
  background: #333;
  padding: 15px;
  display: flex;
  flex-direction: column;  
}

.post-author{
  margin: 0;
  font-size: 22px;
  color: #fff;
}

.post-datetime{
  color: #909090;
  text-align: end;
}