.header {
    padding: 20px 0;
    background: #333;
    border-bottom: 1px solid #ff6200;
    border-radius: 0 0 30px 30px;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    color: #ff6200;
    font-size: 40px;
}

.logo:hover {
    color: #ff6200;
}

.logo h3{
    margin: 0;
}